#content div#categorized-elements h2 {
    margin-bottom: 0.3em;
}

#content div#categorized-elements a:link,
#content div#categorized-elements a:hover,
#content div#categorized-elements a:visited {
    color: #666;
    border: 1px solid #ccc;
    background: #EDEDED;
    padding: 0.3em 0.5em;
    margin-right: 0.3em;
    min-width: 3em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div.tooltipster-content li {
    font-size: 0.9em;
    display: block;
    margin: 0.2em 0;
}

#content table.iconified-listing {
    width: 100%;
}

#content .iconified-listing td.iconified-print a,
#content .iconified-listing td.iconified-confidential a {
    font-family: 'FontAwesome';
}

#content .iconified-listing td.iconified-print a,
#content .iconified-listing td.iconified-confidential a.active {
    color: #EA0000;
}

#content .iconified-listing td.iconified-print a.active,
#content .iconified-listing td.iconified-confidential a {
    color: #75ad0a;
}

#content .iconified-listing td.iconified-print a.active:hover,
#content .iconified-listing td.iconified-confidential a:hover {
    color: #0B8400!important;
}

#content .iconified-listing td.iconified-print a:hover,
#content .iconified-listing td.iconified-confidential a.active:hover {
    color: #B50000!important;
}

#content .iconified-listing td.iconified-print a.deactivated,
#content .iconified-listing td.iconified-confidential a.deactivated {
    color: #999;
}

#content .iconified-listing td.iconified-print a.deactivated:hover,
#content .iconified-listing td.iconified-confidential a.deactivated:hover {
    color: #666!important;
}

#content .iconified-listing td.iconified-print a.error,
#content .iconified-listing td.iconified-confidential a.error {
    color: #E58200;
}

#content .iconified-listing td.iconified-print a.error:hover,
#content .iconified-listing td.iconified-confidential a.error:hover {
    color: #C97200!important;
}

#content .iconified-listing td.iconified-print a:before {
    content: "\f02f";
}

#content .iconified-listing td.iconified-confidential a:before {
    content: "\f09c";
}

#content .iconified-listing td.iconified-confidential a.active:before {
    content: "\f023";
}
